@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .parent{
        @apply relative;
    }

    .btn{
        @apply font-bold px-8 py-[.8rem] rounded-full border-4 text-white text-center cursor-pointer text-nowrap;
    }

    /* background-color: #0e0822; */
    .background{
        background-image: linear-gradient(#0e0822 0%, #251666 50%);
        height: 100%;
        background-repeat: no-repeat;
        background-color: #0e0822;
    }

    /* .background1{
        background-image: radial-gradient(circle at right bottom, #2c1b7b 0%,  #0e082200 10%);
        height: 100%;
    } */
    /* background-color: #0e0822; */


    .modal{
        @apply container mx-auto absolute overflow-hidden w-full left-0 top-0 h-[100vh] bg-[#17171f] text-lg grid place-content-center;
    }

    .underlined{
        @apply relative;
    }

    .profile{
        @apply rounded-full size-[3rem];
    }

    .straight{
        @apply flex flex-row items-center justify-between flex-nowrap;
    }

    .responsive{
        @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-[5rem] lg:mt-[7rem];
    }












    .underlined::before{
        content: '';
        position: absolute;
        width: 65px;
        height: 3px;
        background-color: rgb(41, 41, 238);
        border-radius: 3px;
        bottom: -.5rem;
    }

    .blurr{
        background-image: radial-gradient(circle at center center, #2c1b7b 10%, #0e0822 50%);
    }
    

    .blur-b{
        background-image: radial-gradient(circle at center center, #2c1b7b 10%, #0e0822 50%);
        z-index: -99999;
        position: absolute;
        border-radius: 9999px;
        width: 50rem;
        height: 50rem;
        top: 0;
        left: -6rem;
        filter: blur(16px);
    }
}


/* radial-gradient(circle at left top, #0e0822 0%, #2c1b7b 50%) */